.dropzone-placeholder {
  background-image: url( './shish-kebab-icon-by-Vexels.svg' );
  background-position: center center;
  background-size: contain;
  width: 200px;
	height: 200px;
	border: 2px dashed #666;
	border-radius: 5%;
}
